*
{
    margin      : 0;
    padding     : 0;
    box-sizing  : border-box;
    font-family : 'Shadows Into Light', cursive;
    color       : #879191;
    color:       chartreuse;
}


body 
{
    background-color        : #222;
}


.header 
{
    //border      : 2px solid red;
    display     : flex;
    justify-content     : space-between;
    padding             : 0 .5rem  ;
    margin-bottom       : 1rem;
    position            : relative;


    & .box__car
    {
        position        : absolute;
        background-color  :#333; 
        box-shadow: 0 0  3px 1px chartreuse;
        border-radius   : .5rem;
        width           : 250px;
        min-height          : 250px;
        right           : 11%;
        top             : 2%;
        transition      : all 1s linear;
        display         : none;


        & .close 
        {
            position        : absolute;
            left            : 90%;
            top             : -1%;
            display: inline-block;
            color           : chartreuse;
            font-weight     : bold ;
            font-size       : 1rem;
            cursor          : pointer;
        }



        & .h2__car
        {
            width           : max-content;
            //border          : 2px solid red;
            margin          : 0 auto;
        }

        & .courses 
        {
            //border          : 2px solid red;
            list-style      : none ;
            width           : 90%;
            margin          : 1rem auto;
            padding         : .5rem;
        }
    }


    & .box__car::before 
   {
        content         : "";
        display         : block ;
        transform       :translate(248px, 5px) ;
        width           : 0;
        height          : 0;
        //border-left     : 10px solid chartreuse;
        //border-bottom   : 10px solid transparent;
        //border-top      : 10px solid transparent;
    }


    

    & .figure__header 
    {
        //border          : 2px solid red;
        
        & .car
        {
            //border      : 2px solid yellow;
            width       : 100%;
            height      : 100%;
            cursor      : pointer;
        }

    }
}


.main 
{
    //border      : 2px solid red;

    & .h2 
    {
        width       : max-content;
        margin      : 1rem auto;
    }

    & .products
    {
        //border      : 2px solid red;
        width       : 80%;
        margin      : 0 auto;

        @media screen and(min-width:650px)
        {
            display     : flex;
            flex-wrap   : wrap;
            width       : 95%;

           & .article
           {
                flex-basis: 45%;
                margin      : 0 auto;
           } 
        }

        @media screen and(min-width:1000px)
        {
            display     : flex;
            flex-wrap   : wrap;
            width       : 95%;

           & .article
           {
                flex-basis: 30%;
                margin      : 0 auto;
           } 

          
        }


        & .article
        {
            //border      : 2px solid blue;
            background-color        : rgba(255,255,255, .15);
            border-radius           : .5rem;
            padding                 : 1rem;
            margin-bottom           : 1rem;

            & .article__figure
            {
                //border      : 2px solid yellow;
                
                & .img 
                {
                    display             : block;
                    border-radius       : .5rem; 
                    width:100% ;
                    margin              : 0 auto;
                }

                & .figcaption
                {
                    font-weight     : 700 ;
                    font-size       : 1.2rem;
                    width   : max-content;
                    margin      : 0 auto;
                }
            }

            & .info 
            {
                //border   : 2px solid red;

                & .info__txt
                {
                    font-size   : 1.5rem;
                }


                & .info__details
                {
                    display              : flex;
                    justify-content      : space-between;
                    //border               : 2px solid blue;


                    & .rating 
                    {
                        //border  : 2px solid green;
                        flex    : 1 1 50%;

                        & .img__rating 
                        {
                            max-width   : 100%;
                        }
                    }

                    & .price
                    {
                        display             : flex;
                        justify-content     : center;
                        align-items         : center;
                        flex                : 1 1 25%;
                        font-weight         : 700 ;
                        font-size           : 1.5rem;
                        
                    }


                    & .add
                    {
                        align-self          : center;
                        flex                : 1 1 25%;
                        background-color    : rgb(112, 211, 19);
                        border              : none;
                        color               : #111;
                        font-size           : 1.5rem;
                        height              : max-content;
                        border-radius       : .5rem;
                        cursor              : pointer;
                    }
                }
            }
        }
    }
}