* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Shadows Into Light', cursive;
  color: #879191;
  color: chartreuse;
}

body {
  background-color: #222;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 .5rem;
  margin-bottom: 1rem;
  position: relative;
}

.header .box__car {
  position: absolute;
  background-color: #333;
  -webkit-box-shadow: 0 0  3px 1px chartreuse;
          box-shadow: 0 0  3px 1px chartreuse;
  border-radius: .5rem;
  width: 250px;
  min-height: 250px;
  right: 11%;
  top: 2%;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  display: none;
}

.header .box__car .close {
  position: absolute;
  left: 90%;
  top: -1%;
  display: inline-block;
  color: chartreuse;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.header .box__car .h2__car {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

.header .box__car .courses {
  list-style: none;
  width: 90%;
  margin: 1rem auto;
  padding: .5rem;
}

.header .box__car::before {
  content: "";
  display: block;
  -webkit-transform: translate(248px, 5px);
          transform: translate(248px, 5px);
  width: 0;
  height: 0;
}

.header .figure__header .car {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.main .h2 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 1rem auto;
}

.main .products {
  width: 80%;
  margin: 0 auto;
}

@media screen and (min-width: 650px) {
  .main .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 95%;
  }
  .main .products .article {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1000px) {
  .main .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 95%;
  }
  .main .products .article {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    margin: 0 auto;
  }
}

.main .products .article {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: .5rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.main .products .article .article__figure .img {
  display: block;
  border-radius: .5rem;
  width: 100%;
  margin: 0 auto;
}

.main .products .article .article__figure .figcaption {
  font-weight: 700;
  font-size: 1.2rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

.main .products .article .info .info__txt {
  font-size: 1.5rem;
}

.main .products .article .info .info__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .products .article .info .info__details .rating {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.main .products .article .info .info__details .rating .img__rating {
  max-width: 100%;
}

.main .products .article .info .info__details .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  font-weight: 700;
  font-size: 1.5rem;
}

.main .products .article .info .info__details .add {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  background-color: #70d313;
  border: none;
  color: #111;
  font-size: 1.5rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: .5rem;
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */